.main-nav {
	display: block;
}
.main-nav__list {
	display: flex;
	justify-content: space-between;	
}
.main-nav__item {
	margin-right: 14px;
	list-style: none;
}
.main-nav__link {
	text-decoration: none;
	color: #191919;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.05em;
}
.main-nav__link:hover,
.main-nav__link--active {
	color: #ff7435;
}