.promo-type-slider {	

	&__link {
		text-transform: uppercase;
		color: #838383;
		text-decoration: none;
	}
	&__link:hover, 
	&__link:focus,
	&__link--active {
		color: #ff7435;
	}	
	&__link--active:after {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 27px;
		background-image: url(../img/promo-type-slider__link--active.png);
	} 
	
	&__item {
		width: 100%;	
		background-size: cover;
		min-height: 431px;
		background-position: center center;
	}
	&--bg-family {
		background-image: url(../img/promo-type-slider-family.jpg);
	}
	&--bg-corporate {
		background-image: url(../img/promo-type-slider-corporate.jpg);
	}
	&__inner {
		position: relative;
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		padding-top: 100px;
		line-height: normal;
	}
	&__item-title {		
		font-size: 36px;
		max-width: 50%;
		/*line-height: 42px;*/
		letter-spacing: 0.05em;
		border-left: 10px solid #fff;
		position: relative;
	}
	&__text {
		max-width: 50%;
		margin-top: 25px;
		/*line-height: 24px;*/
		font-size: 18px;
		color: #1c1c1c;
		letter-spacing: 0.015em;
		border-left: 10px solid #fff;
		position: relative;
	}
	&__item-bg {
		background-color: #fff;
		position:relative;	
		left: 10px;			
	}
	&__item-bg-inner {
		background-color: #fff;
		position:relative;	
		left: -10px;		
	}
	&__switch {
		text-align: center;
	}
	&__choice {
		display: inline-block;
		padding: 35px 15px;
		font-size: 14px;
		letter-spacing: 0.05em;
		position: relative;
	}
}