.reviews {
	background-image: url(../img/reviews-bg.jpg);
	padding: 0 0 45px;

	@media screen and (max-width:768px) {
		background-size: cover;
		background-position: center top;
	}

	&__inner {
		position: relative;
		width: 1180px;
		height: 100%;
		margin: 0 auto;		
		text-align: center;

		@media screen and (max-width:768px) {
			max-width: 100%;
		}

		&:after {
		    content: '';
		    display: block;
		    clear: both;
		}
	}
}