.reviews-item {
	
	background-color: #fff;
	padding: 60px 4% 20px;
	text-align: center;
	width: 49%;
	position: relative;

	@media screen and (max-width:768px) {
		width: 100%;		
	}

	&:first-child {
		@media screen and (max-width:768px) {			
			margin-bottom: 60px;
		}
	}
	
	&__name {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.05em;
		margin-bottom: 7px;
	}
	&__text {
		line-height: 1.4;
		margin-bottom: 15px;
	}
	&__date {
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: 0.05em;
	}
}
.reviews-item img.reviews-item__photo {
	width: 82px;
	height: 82px;
	position: absolute;
	top: -30px;
	margin: auto;
	left: 0;
	right: 0;
	border: 2px solid #fff;
}
.reviews-item img.reviews-item__social-icon {
	width: auto;
	margin: 0 auto 7px;
	display: block;
}