.reviews-carousel {
	width: 83%;
	margin: auto;	
	position: relative;

	&.owl-carousel .owl-nav .owl-prev {
	    left: -45px;
	    position: absolute;
	  	top: 0;
	  	bottom: 0;
	  	margin: auto;
	  	display: block;
	  	width: 20px;
	  	height: 37px;
	  	background-image: url(../img/reviews-carousel-left.png);
	}
	&.owl-carousel .owl-nav .owl-next {
	    right: -45px;
	    position: absolute;
	    top: 0;
	  	bottom: 0;
	  	margin: auto;
		display: block;
	  	width: 20px;
	  	height: 37px;
	    background-image: url(../img/reviews-carousel-right.png);
	}
	&.owl-carousel .owl-stage-outer {
		padding-top: 30px;
		padding-bottom: 40px;
	}

}
